<main>
    <div>
        <ul>
            {{#each users}}
                <a href="/user/{{_id}}"<li>{{name.firstName}} {{name.lastName}}<br/></li>
            {{/each}}
        </ul>
    </div>
</main>