<main>
    {{#if errorMessage }}
        <div class="user-message user-message--error">{{errorMessage}}</div>
    {{/if}}
    <form class="post-form" action="/dashboard/create-post" method="POST">
        <div class="form-control">
            <label for="post">Description</label>
            <input type="text" name="post" id="post" value="{{post.post}}" placeholder="Enter your post">
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button class="btn" type="submit">Post</button>
        <input type="hidden" name="postId" value="{{post._id}}">
    </form>
</main>